@model BingoOnline.Models.OrdemSorteio

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Sorteio do Bingo</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bingo.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bingo.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Premio.NomePremio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Premio.NomePremio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.OrdemSorteioBingoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
