@model IEnumerable<BingoOnline.Models.OrdemSorteio>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Sorteios do Bingo</h2>

<p>
    @Html.ActionLink("Novo Sorteio do Bingo", "Create", new { BingoId = ViewBag.BingoId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bingo.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premio.NomePremio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bingo.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premio.NomePremio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)               
            </td>
            <td>
                @if (User.IsInRole("Administrador") || User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.OrdemSorteioBingoId })
                    <label>|</label>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.OrdemSorteioBingoId })
                    <label>|</label>
                    @Html.ActionLink("Excluir", "Delete", new { id = item.OrdemSorteioBingoId })
                    <label>|</label>
                    @Html.ActionLink("Realizar Sorteio", "Draw", new { id = item.OrdemSorteioBingoId })
                    <label>|</label>
                }

                @Html.ActionLink("Vencedores", "Winners", "Sorteios", new { id = item.OrdemSorteioBingoId, bingoid = item.BingoId }, null)
            </td>
        </tr>
    }

</table>
