@model IEnumerable<BingoOnline.Models.OrdemSorteio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { BingoId = ViewBag.BingoId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bingo.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premio.NomePremio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bingo.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premio.NomePremio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrdemSorteioBingoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrdemSorteioBingoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrdemSorteioBingoId }) |
                @Html.ActionLink("Realizar Sorteio", "Draw", new { id = item.OrdemSorteioBingoId }) |
                @Html.ActionLink("Vencedores", "Winners", "OrdemSorteioCartelas", new { id = item.OrdemSorteioBingoId, bingoid = item.BingoId }, null)
            </td>
        </tr>
    }

</table>
