@model BingoOnline.Models.Bingo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bingo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoCancelamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCancelamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRealizacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BingoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
