@model IEnumerable<BingoOnline.Models.Bingo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @{string DataCriacao = item.DataCriacao.ToString("dd/MM/yyyy");}
                @Html.DisplayFor(modelItem => DataCriacao)
            </td>
            <td>
                @{string DataRealizacao = item.DataRealizacao.ToString("dd/MM/yyyy");}
                @Html.DisplayFor(modelItem => DataRealizacao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BingoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BingoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BingoId }) |
                @Html.ActionLink("Sorteios", "Index", "OrdemSorteio", new { id = item.BingoId }, null) |
                @Html.ActionLink("Gerar Cartelas", "Generate", "Cartelas", new { id = item.BingoId }, null)
            </td>
        </tr>
                    }

</table>
