@model IEnumerable<BingoOnline.Models.Bingo>

@{
    ViewBag.Title = "Associate";
}

<h2>ChoosingBingo</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRealizacao)
            </td>
            <td>
                @Html.ActionLink("Participar", "Participate", "Sorteios", new { BingoId = item.BingoId }, null) |
                @Html.ActionLink("Sorteios", "Index", "OrdemSorteio", new { id = item.BingoId }, null) 

            </td>
        </tr>
    }

</table>
