@model BingoOnline.Models.Premio

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Prêmio</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePremio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePremio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPremio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPremio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PremioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
